body {
  font-family: 'Raleway';
  color: white;
  background: #090909;
  margin: 0px;
}

@media (max-width: 800px) {
.flex-container {
  flex-direction: column;
}
}

* {
box-sizing: border-box;
}

header {
background: #090909;
  font-size: 20px;
  font-weight: 600;
  height: 110px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #91704F, #090909) 1;
}

.container {
  width: 61.45%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.logo {
  flex: 8.9%;
  padding: 37px 74px 32px 0;
  border: 1px solid blue;
  align-items: left;
}
    
.menu{  
  flex: 55.2%;
  padding: 45px 0 41px 0;
  border: 1px solid red;
  }  

.menu ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  border: 1px solid red;
}

.menu li {
  display: inline;
  margin-right: 4.61%;
}

.menu a {
  color: white;
  text-decoration: none;
}

.tel { 
  flex: 23.5%;
  padding: 37px 0 34px 0;
  border: 1px solid red;
}  

.tel ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
  border: 1px solid blue;
}

.tel li {
  display: inline;
  vertical-align: top;
}

.tel a {
  color: white;
  text-decoration: none;
}

.tel p {
  font-size: 13px;
}
