body {
  font-family: 'Raleway';
  color: #FFFFFF;
  background: #090909;
  margin: 0px;
}

@media (max-width: 800px) {
.flex-container {
  flex-direction: column;
}
}

* {
box-sizing: border-box;
}

/*ШАПКА САЙТА*/

header {
  background: #090909;
  font-size: 17px;
  font-weight: 600;
  height: 114px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #91704F, #090909) 1;
}

.container {
  width: 61.45%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.logo {
  flex: 8.9%;
  padding: 37px 89px 32px 3px;
  align-items: left;
}
    
.menu{  
  flex: 55.2%;
  padding: 45px 0 41px 0;
  }  

.menu ul {
  list-style-type: none;
  margin: 0; 
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 30px;
}

.menu a {
  color: #FFFFFF;
  text-decoration: none;
}

.connection { 
  flex: 23.5%;
  flex-wrap: nowrap;
  padding: 37px 0 34px 0;
  padding-left: 43px;
  display: flex;

}  

.connection a {
  color: #FFFFFF;
  text-decoration: none;
}

.connection p {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.logotg {
  padding-right: 13px;
}

.logowhapp {
  padding-right: 13px;
}

.numbertel {
  padding: 0px;
}

/*ПЕРВАЯ СТРАНИЦА*/

.firstcontainer {
background-image: url("main_screen(1).png");
overflow: hidden;
background-repeat: no-repeat;

position:relative;
border: 1px solid red;
padding: 0px;
margin: 0px;
}

.fctop {
  font-weight: 400;
  padding-top: 117px;
  font-size: 60px;
  width: 61.45%;
  height: 830px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid red;
}

.button {
font-family: 'Montserrat';
font-weight: 600;
font-size: 27px;

box-sizing: border-box;
  
display: flex;
align-items: center;
text-align: center;
padding: 15.102px;
gap: 7.55px;
  
position: absolute;
width: 218.2px;
height: 74.2px;
left: 370px;
top: 377px;
  
background: linear-gradient(180deg, #D9944F 0%, #403121 100%);
border-radius: 44.551px;

  
  box-shadow: inset 0px -54px 91px 39px rgba(0, 0, 0, 0.25);
  align-items: right; 
}